<section id="about" class="container col-11 col-lg-10 my-5 mx-auto">
  <p class="fs-5 text-center">Get to know more</p>
  <h1 class="fw-bold text-center">About Me</h1>
  <div class="row mt-4">
    <div class="w-100 text-center mt-3 fs-5">
      <p>
        I attended the University of Wisconsin Green Bay and graduated with a Bachelor of Science in Computer Science. 
        My passion lies in playing with computers and developing creative solutions.
        I enjoy building applications that solve real world problems, working with data, creating games, utilizing cloud computing and machine learning.
        I also like to keep up with the latest technologies and cybersecurity trends. 
        I am always looking for new challenges and opportunities to grow.
      </p>
    </div>
  </div>
</section>
