<div id="profile" class="container col-12 col-md-8 my-5 mx-auto">
  <div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
  <img src="./assets/profile.jfif" alt="Profile image" class="rounded-circle img-fluid profile-pic" (dblclick)="goToMyWorld()">
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
      <p class="fs-5">Hello, I'm</p>
      <h1 class="fw-bold">Thong Yang</h1>
      <p class="subtitle fs-4">Computer Scientist</p>
      <div class="d-flex justify-content-center mt-3">
        <i class="fab fa-github fa-3x icon mx-4 pointer" (click)="goToGithub()"></i>
        <a href="mailto:tyang146@gmail.com" class="text-decoration-none">
          <i class="fa fa-envelope fa-3x icon mx-4 pointer"></i>
        </a>
        <i class="fa fa-egg fa-3x icon mx-4 pointer" (click)="goToPlayground()"></i>
      </div>
    </div>
  </div>
</div>
