<div class="container-fluid playground-container">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-8 mx-auto text-center my-4">
            <h2 class="display-6 fw-semibold mb-2">Playground</h2>
            <p class="text-muted mb-4">Matrix rain. Click to start!</p>
        </div>
        <div class="col-12 col-md-10 col-lg-8 mx-auto">
            <div class="canvas-wrapper">
                <canvas #matrixCanvas class="matrix-canvas" aria-label="Matrix rain and Snake game" role="img"></canvas>
            </div>
        </div>
    </div>
</div>


